/*---------------------------------------------

Project:      zletin
Version:      1.0
color  :      dark   #2D333F
              main   #F0424C
            second   #EC7A81
------------------------------------------------
*/
header {
    height: 400px;
    position: relative
}

header h1 {
    font-size: 50px !important
}

header:after {
    content: '';
    background-image: url(../images/bg-section-cta-bottom-inside.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2222;
    height: 50px;
}

header .navbar-brand {
    color: #2D333F !important;
    margin: 0;
    padding: 15px 0;
    position: absolute;
    right: 0px;
    z-index: 22;
    width: 100%;
    text-align: center
}

form {
    margin: 100px 0
}

form select {

    border: 1px solid #EC7A81;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .1);
    padding: 5px 10px;
    display: block;
    width: 100%;
    border-radius: 5px;
    margin: 10px 0
}

form label {
    color: #2D333F;
    font-weight: 300
}

form input ,
form textarea {
    border: 1px solid #EC7A81;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .1);
    padding: 5px 10px;
    display: block;
    width: 100%;
    border-radius: 5px;
    margin: 10px 0
}

.flex-div {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between
}

.flex-div div {
    width: 40%;
    margin: 20px 0
}

form a ,
form button {
    width: 100%;
    padding: 5px;
    background-color: #F0424C;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 30px;
    display: block;
    text-align: center
}
.tarea{
    margin: 20px 0
}

.vid {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: 22222;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .98);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.vid div {
    position: absolute;
    width: 30%;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F0424C;
    color: #FFF;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column
    
}
.vid div p{
    font-size: 20px
}
.vid div a{
    text-decoration: underline;
    margin-top: 30px;
    color: blue
}
.vid .fa-times {
    color: white;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
    cursor: pointer
}
